.DiscussionLink {
	font-weight: 600;
}

.DiscussionId, .DiscussionComment {
	font-weight: normal;
	color: var(--muted-color);
}

.DiscussionHero .DiscussionId {
	color: inherit;
	opacity: 0.6;
}

.DiscussionListItem .DiscussionId {
	color: var(--muted-more-color);
	margin-right: 5px;
}

.EventPost .DiscussionLink {
	color: var(--link-color);
}

.DiscussionLink.DiscussionUnknown,
.DiscussionUnknown .DiscussionId,
.DiscussionUnknown .DiscussionComment {
	color: var(--muted-more-color);
}

.DiscussionReferencedPost .EventPost-info ul {
	list-style: none;
	padding: 0;
}

.EventPost.DiscussionReferencedPost.Post.Post--loading {
    height: 62px;
}

.DiscussionReferencedPost .LoadingIndicator-container--block {
    height: auto;
}